name: CI

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build WPILib 2026 Images
    runs-on: self-hosted
    # runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: make update
      - run: make build
      - name: Log in to docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
        if: ${{ github.repository_owner == 'FRCTeam31' && github.ref == 'refs/heads/main' }}
      - run: make push
        if: ${{ github.repository_owner == 'FRCTeam31' && github.ref == 'refs/heads/main' }}
